### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [108]:
df = pd.DataFrame(purchase_data)
df.head(5)

#Create table with unique names and their counts

df_players = df["SN"].value_counts()

#lenght of table is the number of players

total_players = {"Total Players": [len(df_players)]}

#make it a dataframe

total_players_df = pd.DataFrame(total_players)

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#Create table of averages
averages = df.mean()
#List of unique items and their counts
df_items = df["Item Name"].value_counts()
#Total number of rows
total_purchases = df.count()
#add up all prices
total_revenue = df["Price"].sum()

summary = {"Unique Items": [len(df_items)], "Average Price": [averages[3]], "Number of Purchases": [total_purchases[0]], "Total Revenue": "$" + str(total_revenue)}
df_summary = pd.DataFrame(summary)

#dollar signs on average
df_summary.loc[:,"Average Price"] = df_summary["Average Price"].astype(float).map("${:,.2f}".format)

df_summary

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [110]:
#create table of unique players and their genders

uniqueplayers = df.groupby("SN")



df_gender = uniqueplayers["Gender"].value_counts()
#group it by gender
df_gender_group = df_gender.groupby("Gender")
#count
gender_group_count = df_gender_group.count()

df_gender_group_count = pd.DataFrame(gender_group_count)

total_gender = gender_group_count.sum()

percent = (gender_group_count / total_gender)*100

df_gender_group_count["Percentage of Players"] = percent
                                            
df_gender_group_count.rename(columns={"Gender": "Total Count"})

df_gender_group_count.loc[:,"Percentage of Players"] = df_gender_group_count["Percentage of Players"].astype(float).map("{:,.2f}%".format)

df_gender_group_count

                       Gender Percentage of Players
Gender
Female                     81                14.06%
Male                      484                84.03%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [111]:

#found values for averages, total dollar amount spent
gender_purchase = df.groupby(["Gender"])
gender_purchase_count = gender_purchase.count()
gender_price = gender_purchase["Price"].mean()
gender_price_total = gender_purchase["Price"].sum()
total_purchase_person = gender_price_total / gender_group_count 

#create a data frame and add all the new values
df_gender_purchase = pd.DataFrame(gender_purchase_count)
df_gender_purchase["Average Purchase Amount"] = gender_price
df_gender_purchase["Total Purchase Value"] = gender_price_total
df_gender_purchase["Avg Total Purchase per Person"] = total_purchase_person


#cleaned it up
df_gender_purchase_clean = df_gender_purchase[["Purchase ID", "Average Purchase Amount", "Total Purchase Value", "Avg Total Purchase per Person"]]
df_gender_purchase_clean.rename(columns={"Purchase ID": "Total Purchase Count"}, inplace = True)

#dollar signs
df_gender_purchase_clean.loc[:,"Average Purchase Amount"] = df_gender_purchase_clean["Average Purchase Amount"].astype(float).map("${:,.2f}".format)
df_gender_purchase_clean.loc[:,"Total Purchase Value"] = df_gender_purchase_clean["Total Purchase Value"].astype(float).map("${:,.2f}".format)
df_gender_purchase_clean.loc[:,"Avg Total Purchase per Person"] = df_gender_purchase_clean["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

df_gender_purchase_clean

H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Total Purchase Count,Average Purchase Amount,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [112]:

#created bins and labels
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
binlabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#cut df into bins
pd.cut(df["Age"], bins, labels=binlabels)
df["Age Group"] = pd.cut(df["Age"], bins, labels=binlabels)

#found total players in each age group
df_age_unique_players = df.groupby(["SN"])
value_count_for_age = df_age_unique_players["Age Group"].value_counts()
group_by_age = value_count_for_age.groupby("Age Group")
group_by_age_count = group_by_age.count()

#found age group percent
total_age = group_by_age_count.sum()
age_percent = (group_by_age_count / total_age)*100

#create final data frame
original_group_by_age = df.groupby("Age Group")
final_age_df = original_group_by_age.count()

#add new data to created data frame
final_age_df["Total Count"] = group_by_age_count
final_age_df["Percentage of Players"] = age_percent

#clean it up
final_age_df_clean = final_age_df[["Total Count", "Percentage of Players"]]
final_age_df_clean.loc[:,"Percentage of Players"] = final_age_df_clean["Percentage of Players"].astype(float).map("{:,.2f}%".format)
final_age_df_clean

H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

           Total Count Percentage of Players
Age Group
<10                 24                 4.17%
10-14               15                 2.60%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [113]:

#found values for averages, total dollar amount spent
age_purchase = df.groupby(["Age Group"])
age_purchase_count = age_purchase.count()
age_price = age_purchase["Price"].mean()
age_price_total = age_purchase["Price"].sum()
total_purchase_person_age = age_price_total / group_by_age_count 

#create a data frame and add all the new values
df_age_purchase = pd.DataFrame(age_purchase_count)
df_age_purchase["Average Purchase Price"] = age_price
df_age_purchase["Total Purchase Value"] = age_price_total
df_age_purchase["Avg Total Purchase per Person"] = total_purchase_person_age


#cleaned it up
df_age_purchase_clean = df_age_purchase[["Purchase ID", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

#dollar signs
df_age_purchase_clean.loc[:,"Average Purchase Price"] = df_age_purchase_clean["Average Purchase Price"].astype(float).map("${:,.2f}".format)
df_age_purchase_clean.loc[:,"Total Purchase Value"] = df_age_purchase_clean["Total Purchase Value"].astype(float).map("${:,.2f}".format)
df_age_purchase_clean.loc[:,"Avg Total Purchase per Person"] = df_age_purchase_clean["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

df_age_purchase_clean.rename(columns={"Purchase ID": "Purchase Count"}, inplace = True)
df_age_purchase_clean

H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,32,$3.40,$108.96,$4.54
10-14,19,$2.68,$50.95,$3.40
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [114]:
#create and sort data frame
df_top_spenders = df.groupby("SN")
df_spenders_count = df_top_spenders.count() 
df_spenders_sorted = pd.DataFrame(df_spenders_count).sort_values("Purchase ID", ascending=False)
#find average and total spent
average_spent = df_top_spenders["Price"].mean()
total_spent = df_top_spenders["Price"].sum()
#add to data frame
df_spenders_sorted["Average Purchase Price"] = average_spent
df_spenders_sorted["Total Purchase Value"] = total_spent
#clean it up
df_spenders_sorted_clean = df_spenders_sorted[["Purchase ID", "Average Purchase Price", "Total Purchase Value"]]
df_spenders_sorted_clean.rename(columns={"Purchase ID": "Purchase Count"}, inplace = True)
df_spenders_sorted_clean.loc[:,"Average Purchase Price"] = df_spenders_sorted_clean["Average Purchase Price"].astype(float).map("${:,.2f}".format)
df_spenders_sorted_clean.loc[:,"Total Purchase Value"] = df_spenders_sorted_clean["Total Purchase Value"].astype(float).map("${:,.2f}".format)
#only show top 5
df_spenders_sorted_clean.head(5)

H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
H:\RICEBOOTCAMP\anaconda\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [115]:
#retrieve necessary columns
df_items = df[["Item ID", "Item Name", "Price"]]
df_item_group = df_items.groupby(["Item ID", "Item Name"])
#create data frame
df_item_count = df_item_group.count()
df_pop_items = pd.DataFrame(df_item_count)
#sort Data Frame
df_pop_items_sorted = df_pop_items.sort_values("Price", ascending=False)
df_pop_items_sorted
#find price and total (using mean because it should be the same as the price)
price = df_item_group["Price"].mean()
total_value_item = df_item_group["Price"].sum()
#append data frame
df_pop_items_sorted["Item Price"] = price
df_pop_items_sorted["Total Purchase Value"] = total_value_item

#rename price
df_pop_items_sorted.rename(columns={"Price": "Purchase Count"}, inplace = True)
df_pop_items_sorted.head(5)

#dollar signs
#have to create a new df because the dollar signs mess up the sorting for the next section
df_pop_items_sorted_dollar = df_pop_items_sorted[["Purchase Count", "Item Price", "Total Purchase Value"]]
df_pop_items_sorted_dollar.loc[:,"Item Price"] = df_pop_items_sorted_dollar["Item Price"].astype(float).map("${:,.2f}".format)
df_pop_items_sorted_dollar.loc[:,"Total Purchase Value"] = df_pop_items_sorted_dollar["Total Purchase Value"].astype(float).map("${:,.2f}".format)
df_pop_items_sorted_dollar.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [116]:
df_most_profitable = df_pop_items_sorted.sort_values("Total Purchase Value", ascending=False)
#dollar signs
df_most_profitable.loc[:,"Item Price"] = df_most_profitable["Item Price"].astype(float).map("${:,.2f}".format)
df_most_profitable.loc[:,"Total Purchase Value"] = df_most_profitable["Total Purchase Value"].astype(float).map("${:,.2f}".format)

df_most_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
126,Exiled Mithril Longsword,1,$2.00,$2.00
125,Whistling Mithril Warblade,2,$1.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75